#or {
    border-bottom: 1px solid #000; 
    line-height: 0.1em;
 } 
 
#or span { 
     background:#fff; 
     padding:0 10px; 
 }

#crossButton {
    font-size: 2em;
    padding: 2px !important;
    background-color: white;
    margin: 0 !important;
}

#forgetPassword {
    cursor: pointer;
}

#forgetPassword:hover {
    font-size: 1.1em;
}

#goBackBtn,.codeDiv,.passwordDiv,.confirmPasswordDiv,#openLogin {
    display: none;
}